/*** DEFAULT STYLES ****/
* { margin: 0; padding: 0;}
html { height: 100%; }
body { background:url(../images/PM_05152013_bg.jpg) repeat-x left top #ffffff; font: 15px Arial, Helvetica, sans-serif; color: #2a2a2a; float:left; width:100%; margin:0px; padding:0px; border:0px; }
img { border: 0px; }
p { margin:0px; padding:0px 0px 10px 0px; }
a { margin:0px; padding:0px; color:#005280; }
a.btn { margin:0px; padding:0px; display:inline-block; color:#005280; }
#container { width:100%; float:left; display:block; clear:both; position:relative; background:url(../images/PM_05152013_bg2.jpg) no-repeat center top; }
#wrapper { width:902px; margin:0 auto; display:table; position:relative; }
#InnerContainer { width:902px; float:left;  display:block; clear:both; position:relative; }

section#header, section#content, section#footer { clear:both; position:relative; width:100%; float:left; min-width:902px; }

.LeftContent, .leftcontent-Inner, .leftcontent2, .leftcontent3 { float:left; }
.RightContent, .rightcontent-Inner, .rightcontent2, .rightcontent3  { float:right; }
.FullContent, .fullcontent-Inner, .fullcontent2, .fullcontent3, section { width:100%; text-align:left; clear:both; float:left; position:relative; }
.rounded { -moz-border-radius: 10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px; behavior: url(../js/PIE.htc); position:relative; }
.hide { position:absolute; left:-9999px; top:-9999px; }
.green { color:#096200; }

h1, h2, h3, h4, h5, h6 { padding:0px; margin:0px; }

h2 { font-size:32px; text-align:center; color:#002933; padding-top:13px; padding-bottom:15px; }
h3 { font-size:22px; color:#016e8c; }
h4 { font-size:20px; text-align:center; color:#016e8c; padding-bottom:2px; }
h5 { font-size:20px; color:#2a2a2a; }
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span { font-weight:normal; }

li, ul { margin:0px; padding:0px; list-style-type:none; text-align:left; }

/* FORM STYLE */

/* BUTTONS STYLE */

/* HEADER */
#header { height:107px; }

/* BODY CONTENT */
#content { height:495px; }
.F-1 { padding-top:3px; font-size:16px; }
.R-1 { width:500px; }
.R-2 { width:485px; }
.L-1 { width:436px; background-color:#ffffff; padding:20px 0px; border:1px solid #b8d8e2; }
.L-2 { width:450px; text-align:center; font-size:18px; line-height:40px; }
.L-3 { width:236px; text-align:right; }
.R-3 { width:193px; text-align:left; }
ul.bul { padding-top:12px; padding-bottom:12px; }
ul.bul li { background:url(../images/PM_05152013_bul.jpg) no-repeat left 4px; padding-left:22px; padding-bottom:7px; }
a.btn.large { width:428px; height:55px; }
a.btn1 { background:url(../images/PM_05152013_btn1.jpg) no-repeat left top; }
a.btn2 { background:url(../images/PM_05152013_btn2.jpg) no-repeat left top; }

/* FOOTER */


a:hover { background-position:0px bottom; text-decoration:underline; }